@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import "colors.scss";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html, body {
    background-color: $lightBackground;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.button {
    background-color: $darkHighlight;
    color: whitesmoke;
}
