@import "colors.scss";

.Login {

    background-color: $lightBackground;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .x-vertical-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form {
        width: 400px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .Login__submit {
        float: right;
        width: 8em;
    }

    height: 100vh;

    .LogoLoginRow {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            @media(max-width: 999px) {
                display: none;
            }
            margin-right: 4em;
        }

        border: 1px solid black;
        padding: 4em;
        background-color: white;
    }
}